<template>
  <div class="bar">
    <h1>Bewerk Corporatie</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <span>Bewerk corporatie</span>
          </div>

          <div class="panel-body">
            <form class="form-horizontal" role="form" method="POST" submit.delegate="update()">

              <div class="form-group">
                <label for="name" class="col-md-4 control-label">Naam</label>

                <div class="col-md-6">
                  <input value.bind="corporation.name" id="name" type="text" class="form-control" name="name" required autofocus>
                </div>
              </div>

              <div class="form-group">
                <label for="address" class="col-md-4 control-label">Adres</label>

                <div class="col-md-6">
                  <input value.bind="corporation.address" id="address" type="text" class="form-control" name="address" required>
                </div>
              </div>

              <div class="form-group">
                <label for="zip" class="col-md-4 control-label">Postcode</label>

                <div class="col-md-6">
                  <input value.bind="corporation.zip" placeholder="Zip formaat in deze format: 5993-hk" id="zip" type="text" class="form-control" name="zip" required>
                </div>
              </div>

              <div class="form-group">
                <label for="email" class="col-md-4 control-label">Email</label>

                <div class="col-md-6">
                  <input value.bind="corporation.email" id="zip" type="text" class="form-control" name="email" required>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-6 col-md-offset-4">
                  <button id="submit" type="submit" class="btn btn-primary">
                    Update corporatie
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>