<template>
  <require from='../shared/sideBar'></require>

  <div class="bar">
    <h1>FUN queries</h1>
  </div>

  <div class="container-custom">
    <div class="row">
      <side-bar></side-bar>

      <div class="col-md-10">
        <div class="panel panel-default">
          <div class="panel-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="col-md-5 table__title">
                    Naam
                  </th>

                  <th class="col-md-5 table__title">
                    Aantal berichten
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr repeat.for="c of context">
                  <td class="col-md-5">
                    ${c.name}
                  </td>

                  <td class="col-md-5">
                    ${c.messages}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>